<h1>Listado de Proveedores</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir
    nuevo proveedor</a>
<br>
</div>
<table class="table table-bordered table-striped tabla" style="margin-top: 40px;">
    <thead>
        <tr class="filters">
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedores">
            <td>{{ proveedor.nombre }}</td>
            <td><a href="mailto:{{ proveedor.email }}">{{ proveedor.email }}</a></td>
            <td>{{ proveedor.telefono }}</td>
        </tr>
    </tbody>
</table>