<h1>Listado de Presupuestos</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary float-md-right" routerLink="/addpres">Añadir
        nuevo presupuesto</a>
    <br>
</div>
<table class="table table-bordered table-striped tabla" style="margin-top:
40px;">
    <thead>
        <tr class="filters">
            <th>Proveedor</th>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Base</th>
            <th>IVA</th>
            <th class="text-right">Total</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let presupuesto of presupuestos">
            <td>{{ presupuesto.proveedor }}</td>
            <td>{{ presupuesto.fecha }}</td>
            <td>{{ presupuesto.concepto }}</td>
            <td>{{ presupuesto.base }}</td>
            <td>{{ presupuesto.iva }}</td>
            <td>{{ presupuesto.total }}</td>
            <td>
                <button type="button" class="btn btn-success"
                    routerLink="/editpres/{{ presupuesto.id$ }}">Editar</button>
            </td>
            <td>
                
                <button class="btn btn-danger" (click)="eliminarPresupuesto(presupuesto.id$)">Eliminar</button>                
            </td>
        </tr>
    </tbody>
</table>